.productview {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rating {
  width: 90%;
}

@media (max-width: 1024px) {
  .rating {
    grid-template-columns: 1fr;
  }
  .productview img {
    height: auto;
  }
}
