.productPage {
  justify-content: center;
  display: flex;
}

.productinner {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap if they overflow */
  justify-content: space-around; /* Center the items horizontally */
}

.products {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 20vw;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 15px 0px;
  transition: border 0.5s ease-in-out;
}

.products:hover {
  border: 1px solid white;
}

.image {
  width: 100%;
  height: 40vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the container while maintaining aspect ratio */
}

.content {
  padding-top: 5px;
  width: 60%;
  align-self: center;
}

.content h2 {
  color: white;
}

.content p {
  color: grey;
}

.price {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 60%;
  align-self: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .products {
    width: 40vw;
  }
  .image {
    height: auto;
  }
  .content,
  .price {
    width: 100%;
    font-size: small;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .products {
    width: 25vw;
  }
  .image {
    height: auto;
  }
  .content,
  .price {
    width: 100%;
  }
}
@media (min-width: 820px) and (max-width: 1024px) {
  .products {
    width: 25vw;
  }
  .image {
    height: auto;
  }
  .content,
  .price {
    width: 100%;
  }
}
