.main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}
.nav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10vh;
}
.innerNav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 40%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 70%;
  margin-right: 20px;
}
.logo h1 {
  color: white;
  font-family: "Poetsen One", sans-serif;
}
.parameter {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parameter button {
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.parameter button:hover {
  color: red;
}
.hamburger {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.optionsPanel {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}
.optionsPanel button {
  display: block;
  width: 100%;
  text-align: left;
  margin: 5px 0;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.innerContent {
  width: 80%;
  display: flex;
  margin-bottom: 50px;
}
.text {
  width: 50%;
}
.innerContent h1 {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 0.8; /* Adjust this value as needed */
  margin: 0;
  white-space: nowrap;
}
.bharat {
  background-color: transparent;
  font-family: "Big Shoulders Display", sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 70px;
  white-space: nowrap; /* Ensures text doesn't wrap */
  overflow: hidden; /* Hides the overflow text */
  border-right: 3px solid; /* Adds the caret */
  width: 0; /* Initially set the width to 0 */
  animation: typing 4s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite; /* Adds the typing and caret blink effect */
}
.details {
  color: white;
  margin: 20px 0px;
  font-size: 24px;
  font-family: "Kanit", sans-serif;
  line-height: 6vh;
}
.shop {
  background-color: white;
  color: black;
  height: 50px;
  width: 120px;
  font-size: 20px;
  border-radius: 20px;
  font-family: "Kanit";
  font-weight: bold;
  cursor: pointer;
}
.shop:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}
.image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.image img {
  background-color: transparent;
  height: 60vh;
}
.whatdo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.heading {
  background-color: transparent;
  font-family: "Kanit";
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}
.services {
  width: 80%;
  margin-bottom: 30px;
}
.vision {
  background-color: white;
  height: 20px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    margin-bottom: 5vh;
  }
  .parameter {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .optionsPanel {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
  }
  .optionsPanel.show {
    display: block;
  }
  .optionsPanel button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 5px 0;
  }
  .image {
    display: none;
  }
  .innerNav {
    width: 90%;
  }
  .logo {
    width: 70%;
  }
  .logo h1 {
    font-size: 19px;
  }
  .content {
    width: 100%;
  }
  .innerContent {
    width: 90%;
    flex-direction: column;
  }
  .innerContent h1 {
    font-size: 55px;
  }
  .bharat {
    font-size: 45px;
  }
  .details {
    font-size: 20px;
  }
  .text {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .nav {
    margin-bottom: 5vh;
  }
  .parameter {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .optionsPanel {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
  }
  .optionsPanel.show {
    display: block;
  }
  .optionsPanel button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 5px 0;
  }
  .image {
    display: none;
  }
  .text {
    width: 100%;
  }
}
@media (min-width: 540px) and (max-width: 540px) {
  .logo {
    width: 70%;
  }
  .innerContent h1 {
    font-size: 70px;
  }
  .bharat {
    font-size: 60px;
  }
}
@media (min-width: 820px) and (max-width: 820px) {
  .nav {
    margin-bottom: 5vh;
  }
  .image {
    display: none;
  }
  .text {
    width: 100%;
  }
  .details {
    font-size: 30px;
  }
}
@media (min-width: 821px) and (max-width: 1024px) {
  .nav {
    margin-bottom: 5vh;
  }
  .image {
    display: none;
  }
  .text {
    width: 100%;
  }
  .innerContent h1 {
    font-size: 120px;
  }
  .bharat {
    font-size: 100px;
  }
  .details {
    font-size: 40px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@media (width: 1280px) {
  .services {
    width: 100%;
  }
}
/* @media (min-width: 1025px) and (max-width: 2000px) {
  .nav {
    margin-bottom: 5vh;
  }
  .text {
    width: 100%;
  }
  .innerContent h1 {
    font-size: 100px;
  }
  .bharat {
    font-size: 100px;
  }
  .details {
    font-size: 40px;
  }
} */
